$marge: 24px;

.gallery-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    > li:before {
      content: none;
      margin: 0;
      width: 0;
    }

    > li {
      margin: 0 $marge $marge 0;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: calc((100% - #{$marge})/2);

      > figure {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin: 0;
        height: 100%;

        > img {
          height: 100%;
          flex: 1;
          object-fit: cover;
          width: 100%;
          vertical-align: middle;
        }
      }
    }

    > li:nth-of-type(2n),
    > li:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 600px) {
  .gallery-block.columns-3 {
    > ul {
      > li {
        width: calc((100% - #{2 * $marge})/3);
        margin-right: $marge;
      }
      > li:nth-of-type(3n),
      > li:last-child {
        margin-right: 0;
      }
    }
  }
}
